@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.collected-penguins-comp{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    padding: 50px;
    background-color: var(--backgroundColor);
    cursor: default;
}
.collected-penguin-card {
    width: 100%;
    background-color: var(--lightGreyBackground);
    border-radius: 20px;
}
  
.card-container {
    width: 100%;
    height: 200px;
    border: 1px solid var(--primaryColor);
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.card-heading {
    font-size: 24px;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand';
}
  
.penguin-image {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    border-radius: 0 0 20px 20px;
    overflow: hidden; /* Ensure the image stays within the box */
}

.penguin-image img {
    max-width: 80%; /* Limit the maximum width of the image to 100% of its container */
    max-height: 80%; /* Limit the maximum height of the image to 100% of its container */
    margin-bottom: 20px;
}
  
.collected-count {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: var(--primaryColor);
}

.collected-penguin-score-container{
    position: absolute;
    display: flex;
    bottom: -5px;
    right: 0;
    flex-direction: row;
    margin-right: 15px;
    align-items: baseline;
}
.collected-penguin-score-word{
    padding-right: 5px;
    font-family: 'Quicksand';
    font-size: 15px;
}

.collected-penguin-score-value{
    font-size: 30px;
    font-family: 'Quicksand';
}
  

.collected-penguins-comp-key-container{
    position: absolute;
    bottom: 50px;
    right: 20px;
    display: flex;
    flex-direction: row;
}
.collected-penguins-comp-key{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: var(--primaryColor);
    margin-right: 5px;
}
.collected-penguins-comp-key-meaning{
    font-family: 'Quicksand';
    font-size: 20px;
}