@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.AboutComponent{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 30px;
    margin-top: 40px;
    text-align: center;
}
.AboutComponent-heading{
    font-size: 35px;
    font-family: 'Quicksand';
    color: var(--primaryColor);
}
.AboutComponent-paragraph{
    display: flex;
    position: relative;
    font-family: 'Quicksand';
}