@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* For screens smaller than 768px (typical mobile screens) */
@media only screen and (max-width: 768px) {
    .Home-page {
        display: none !important; 
    }
    .Home-page-mobile {
        display: flex !important; 
    }
}
  
  /* For screens larger than 768px */
@media only screen and (min-width: 769px) {
    .Home-page {
      display: block !important; 
    }
    .Home-page-mobile {
      display: none !important; 
    }
}
  
  
  
.Home-page-mobile{
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: default;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home-page-mobile-box-shadow{
    margin-top: 5px;
    width: 70%;
    height: 40%;
    box-shadow: 0 0 20px #d2d2d2;
    background-color: var(--lightGreyBackground);
    border-radius: 20px;
    border: #B1CFFF 1px solid;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.home-page-mobile-penguin-image{
    width: 7em;
    height: 7em;
    margin-top: 20px;
}
.home-page-mobile-penguin-image img{
    width: 100%;
    height: 100%;
}
.home-page-mobile-welcome-text{
    margin-top: 20px;
    font-family: 'Quicksand';
    font-size: 18px;
}
.home-page-mobile-transfer-text{
    margin-top: 40px;
    font-family: 'Quicksand';
    font-size: 20px;
    margin-bottom: 20px;
}
.home-page-mobile-transfer-text-warning{
    font-family: 'Quicksand';
    font-size: 15px;
    color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-page-mobile-transfer-text-address{
    margin-top: 5px;
    font-family: 'Quicksand';
    font-size: 24px;
    color: var(--primaryColorDark);
}



.Home-page{
    width: 100vw;
    height: calc(100vh - 70px);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
}
.HomePage-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    cursor: default;
}
.HomePage-lower-section{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.HomePage-lower-section-right-side{
    flex:1;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
}
.HomePage-lower-section-right-top{
    flex-direction: row;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.HomePage-lower-section-right-top a{
    width: 90%;
}
.HomePage-Buttons-penguins, .HomePage-Buttons-map{
    width: 90%;
    height: 90px;
    border-radius: 30px;
    background-color: var(--lightGreyBackground);
    font-family: 'Quicksand';
    color: var(--secondaryColor);
    font-size: 20px;
    border-color: var(--secondaryColor);
}

.HomePage-Buttons-penguins:hover, .HomePage-Buttons-map:hover{
    background-color: var(--secondaryColorLight);
    color: var(--textColorLight);
}




.welcome-component{
    flex: 1;
    height: 40%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.WelcomeComponent-penguin-image-container{
    width: 8em;
    height: 90%;
}
.WelcomeComponent-penguin-image{
    width: 100%;
    height: 100%;
}
.WelcomeComponent-welcome-message-container{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Quicksand';
}

.carousel-container{
    flex: 2;
    height: 70vh;
    display: flex;
    position: relative;
    justify-content: center;
}
.carousel-buttons-container{
    position: absolute;
    display: flex;
    top: 0;   
    align-items: center;
    justify-content: center;
    text-align: center;
}
.carousel-button svg{
    width: 2em;
    height: 2em;
}
.CarouselImage-image-container {
    width: 60vw; 
    height: 70vh;
    position: relative;
    display: flex;
}
.CarouselImage-image {
    width: 100%; 
    height: 100%;
    position: relative;
}
.carousel-container h3, .carousel-container p{
    color: var(--primaryColor);
}
.carousel-caption{
    background-color: rgba(200, 200, 200, 0.5);
    height: 100px;
    margin-bottom: 20px;

}