/* .CarouselComp-carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    height:  calc(66vh + 70px);
    width: 100vw;
    background-color: brown;
}
.CarouselItem-item-container{
    position: relative;
    display: flex;
    justify-content: center;
    height:  auto;
    width: 100vw;
    background-color: blue
}
.CarouselImage-image-container{
    width: 100vw;
    height: calc(66vh + 70px);
    position: relative;
    display: flex;
    justify-content: center;
    background-color: orange;
}
.CarouselImage-image{
    width: 80vw;
    height: 100%;
    display: flex;
    position: relative;
}



 */


 /* .CarouselComp-carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(66.67vh + 70px); 
    width: 100vw;
    background-color: brown;
  }
  .CarouselItem-item-container{
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(66.67vh + 70px); 
    width: 100vw;
    background-color: pink;
  }
  .CarouselImage-image-container {
    width: 80vw; 
    height: calc(66.67vh + 70px); 
    position: relative;
    display: flex;
    justify-content: center;
    background-color: orange;
  }
  .CarouselImage-image {
    width: 100%; 
    height: 100%;
    display: block; 
  }
   */
