.main-content-container {
    display: flex; 
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
    padding-top: 15px;
}
.main-content-container-top{
    display: flex;
    flex: 4;
}
.main-content-container-bottom {
    flex: 1; /* Adjust the flex value as needed */

}



.map-container {
    flex: 3; 
    height: 75vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    
    top: -5px;
}
.map-container-box-shadow{
    width: 90%;
    height: 100%;
    box-shadow: 2px 2px 4px 4px var(--lightShadow);
    background-color: var(--lightGreyBackground);
    border-radius: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.actual-map{
    width: 95%;
    height: 95%;
    position: absolute;
}
.leaflet-container{
    border-radius: 15px;
    position: absolute;
}

.buttons-panel-container {
    flex: 1;
    display: flex;
  
}
.buttons-container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.button-component {
    width: 100%; 
    height: 25%;
}

.MapKey{
    flex: 1;
    height: 100%;
    display: flex;
    position: relative;
    
    align-items: center;
    justify-content: center;
  
}
.key-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    box-shadow: 2px 2px 4px 4px var(--primaryColor);
    background-color: var(--lightGreyBackground);
    border-radius: 20px;
}
.key-item{
    height: 50px;
    width: 95%;
    background-color: rebeccapurple;
}
