@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.main-content-container {
    display: flex; 
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
    padding-top: 15px;
}
.main-content-container-top{
    display: flex;
    flex: 4;
}
.main-content-container-bottom {
    flex: 1; /* Adjust the flex value as needed */

}



.map-container {
    flex: 3; 
    height: 75vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    
    top: -5px;
}
.map-container-box-shadow{
    width: 90%;
    height: 100%;
    box-shadow: 0 0 20px var(--lightShadow);
    background-color: var(--lightGreyBackground);
    border-radius: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.actual-map{
    width: 95%;
    height: 95%;
    position: absolute;
}
.leaflet-container{
    border-radius: 15px;
    position: absolute;
}

.buttons-panel-container {
    flex: 1;
    display: flex;
    
}
.buttons-container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.button-component {
    width: 100%; 
    height: 25%;
}
.button{
    font-family: 'Quicksand';
}

.MapKey{
    flex: 1;
    height: 100%;
    display: flex;
    position: relative;
    
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
}
.key-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    box-shadow: 0 0 20px rgba(6, 97, 244, 0.2);
    background-color: var(--lightGreyBackground);
    border-radius: 20px;
}
.key-item{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.key-item-marker-image{
    width: 40px;
    height: 40px;
    background-color: green;
}
.key-item-marker-image-gradient{
    width: 100%;
    height: 70px;
}
.key-item-marker-image-high{
    background-color: #00B400;
    border: 1px solid black;
    border-radius: 100px;
    width: 45px;
    height: 45px;
}

.key-heading{
    margin-top: 10px;
    font-size: 25px;
    color: var(--primaryColor);
    font-weight: 400;
}
.key-item-marker-meaning{
    font-size: 18px;
}
