@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.main-content-container {
    display: flex; 
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
   
}
.main-content-container-top{
    display: flex;
    flex: 4;
}
.main-content-container-bottom {
    flex: 1; /* Adjust the flex value as needed */

}
.main-content-info{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: var(--textColorDarkGrey);
    flex: 0.5;

}


.map-container {
    flex: 3; 
    height: 73vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: -10px;
}
.map-container-box-shadow{
    width: 90%;
    height: 100%;
    box-shadow: 0 0 20px var(--lightShadow);
    background-color: var(--lightGreyBackground);
    border-radius: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.actual-map{
    width: 95%;
    height: 95%;
    position: absolute;
}
.leaflet-container{
    border-radius: 15px;
    position: absolute;
}

.buttons-panel-container {
    flex: 1;
    display: flex;
    
}
.buttons-container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.button-component {
    width: 100%; 
    height: 25%;
}
.button{
    font-family: 'Quicksand';
}

.MapKey{
    flex: 1;
    height: 100%;
    display: flex;
    position: relative;
    
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
}
.key-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    box-shadow: 0 0 20px rgba(6, 97, 244, 0.2);
    background-color: var(--lightGreyBackground);
    border-radius: 20px;
}
.key-item{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex: 4;
    justify-content: center;
    align-items: center;
}
.key-item-instruction{
    display: flex;
    flex: 2;
    width: 95%;
}
.key-item-instruction-meaning{
    flex: 10;
    text-align: center;
    cursor: default;
   
}
.key-item-instruction-symbol{
    flex: 1;
}
.key-item-instruction-symbol svg{
    width: 100%;
    height: 35px;
    margin-left: 15px;
}
.key-item-marker-image{
    width: 40px;
    height: 40px;
    background-color: green;
}
.key-item-marker-image-gradient{
    width: 100%;
    height: 70px;
}
.key-item-marker-image-high{
    background-color: #00B400;
    border: 1px solid black;
    border-radius: 100px;
    width: 45px;
    height: 45px;
}
.key-heading{
    margin-top: 10px;
    font-size: 25px;
    color: var(--primaryColor);
    font-weight: 400;
    cursor: default;
    margin-bottom: 10px;
}
.key-item-marker-meaning{
    font-size: 18px;
    cursor: default;
}


.color-gradiant-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px; 
}
  
.color-gradient {
    width: 90%;
    height: 30px; 
    background: linear-gradient(to right, var(--secondaryColorLight), var(--secondaryColorDark)); 
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.color-gradiant-label-low{
    position: absolute;
    color: var(--textColorLight);
    margin-left: 5px;
    cursor: default;
}
.color-gradiant-label-high{
    position: absolute;
    right: 0;
    margin-right: 40px;
    color: var(--textColorLight);
    cursor: default;
}
  
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}
.circle {
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    margin: 0 5px; 
}
.circle:nth-child(2) {
    width: 20px;
    height: 20px;
}
.circle:nth-child(3) {
    width: 25px;
    height: 25px;
}
.circle:nth-child(4) {
    width: 30px;
    height: 30px;
}
.circle:nth-child(5) {
    width: 35px;
    height: 35px;
}
.circle:nth-child(6) {
    width: 40px;
    height: 40px;
}
  
  /* Add more styling for additional circles as needed */
  